<app-header></app-header>

<section class="content">
  <header class="content__title">
    <h1>Alterar Senha</h1>
  </header>
  <div class="card">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="card-body">

      <div class="form-group">
        <label>Nova Senha</label>
        <input type="password" class="form-control" (ngModelChange)="passChange($event)" [ngModel] #newPassword="ngModel"
          placeholder="New Password" name="newPassword" required minlength="6">
      </div>

      <span *ngIf="newPassword.errors?.minlength && (newPassword.dirty || newPassword.touched)" class="help-block has-error">
        Password must be at least 6 characters
      </span>

      <div class="form-group">
        <label>Confirmar Nova Senha</label>
        <input type="password" class="form-control" (ngModelChange)="confirmPassChange($event)" [ngModel]
          #confirmNewPassword="ngModel" placeholder="Confirm New Password" name="confirmNewPassword" required>
      </div>

      <span *ngIf="passIsDifferent && (confirmNewPassword.dirty || confirmNewPassword.touched)" class="help-block has-error">
        Senhas devem ser iguais!
      </span>

      <div class="change-footer">
            <button type="submit" class="btn btn-success" [disabled]="!f.valid || passIsDifferent">Salvar</button>
      </div>

    </form>
  </div>
</section>
