<app-header></app-header>
<app-modal-tecnico></app-modal-tecnico>
<app-delete-modal></app-delete-modal>
<app-loader *ngIf="!isLoaded"></app-loader>

<section class="content">
  <header class="content__title">
    <h1>Técnicos</h1>
    <div class="actions">
      <button class='btn btn-add' (click)="showModal()">
        <i class="actions__item zmdi zmdi-plus"></i>
        <span>Adicionar técnico</span>
      </button>
    </div>
  </header>

  <div class="card">
    <div class="card-body">
      <div class="data-table__header">
        <div class="form-group data-table__filter">
          <input placeholder="Filter all columns" class="form-control">
          <i class="form-group__bar"></i>
        </div>
      </div>
      <div class="table-responsive" *ngIf="isLoaded; else notLoaded">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Celular</th>
              <th>Rua</th>
              <th>Número</th>
              <th>Bairro</th>
              <th>CEP</th>
              <th>Cidade</th>
              <th>UF</th>
              <th>Comum Congregação</th>
              <th class="text-right">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tecnico of tecnicos">
              <td>{{tecnico.nome}}</td>
              <td>{{tecnico.celular ? tecnico.celular : 'Sem celular cadastrado'}}</td>
              <td>{{tecnico.rua}}</td>
              <td>{{tecnico.numero}} {{tecnico.complemento}}</td>
              <td>{{tecnico.bairro}}</td>
              <td>{{tecnico.cep}}</td>
              <td>{{tecnico.cidade}}</td>
              <td>{{tecnico.uf}}</td>
              <td>{{tecnico.comumCongregacao}}</td>
              <td class="text-right">
                <div dropdown>
                  <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <span class="dropdown-item" (click)="showModal(tecnico)">Editar</span>
                    <span class="dropdown-item" (click)="delete(tecnico)">Excluir</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #notLoaded>
        <p>Loading...</p>
      </ng-template>
    </div>
  </div>

</section>
