<app-header></app-header>
<app-modal-usuarios></app-modal-usuarios>
<app-loader *ngIf="!isLoaded"></app-loader>

<section class="content">
  <header class="content__title">
    <h1>Usuários</h1>
    <div class="actions">
      <button class='btn btn-add' (click)="showModal()">
        <i class="actions__item zmdi zmdi-plus"></i>
        <span>Adicionar usuário</span>
      </button>
    </div>
  </header>

  <div class="card">
    <div class="card-body">
      <div class="data-table__header">
        <div class="form-group data-table__filter">
          <input autocomplete="false" placeholder="Filtrar por todas as colunas" [(ngModel)]="filter"
            class="form-control">
          <i class="form-group__bar"></i>
        </div>
      </div>
      <div class="table-responsive" *ngIf="isLoaded; else notLoaded">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>Ação</th>
              <th (click)="sort('nome')" class="pointer">
                Encarregado Manutenção
                <i class="zmdi" *ngIf="key =='nome'"
                  [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
              </th>
              <th>E-mail</th>
              <th (click)="sort('role')" class="pointer">
                Encarregado Manutenção
                <i class="zmdi" *ngIf="key =='role'"
                  [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let usuario of usuarios | filter:filter | paginate: { itemsPerPage: 10, currentPage: page } | orderBy: key : reverse;">
              <td>
                <div dropdown>
                  <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <span class="dropdown-item" (click)="showModal(usuario)">Editar</span>
                    <!-- <span class="dropdown-item">Excluir</span> -->
                  </div>
                </div>
              </td>
              <td>{{usuario.nome}}</td>
              <td>{{usuario.email}}</td>
              <td>{{usuario.role}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próximo">
        </pagination-controls>
      </div>
      <ng-template #notLoaded>
        <p>Loading...</p>
      </ng-template>
    </div>
  </div>

</section>
