// Import Bootstrap and App variables and mixins
@import "../../../assets/scss/inner-imports";


// Header Base
.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  box-shadow: $header-shadow;
  background-color: #290c02 !important;
  color: $white;
  padding: 0 2rem;
  z-index: $header-z-index;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;

  @include clearfix();

  .ma-backdrop {
    position: absolute;
  }
}

// Logo
.header__logo {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  h1>a:after {
    border-right: 1px solid #F5F5F5;
    padding: 4px;
    clear: both;
    content: "";
    margin-left: 4px;
  }
  span {
    margin-left: 8px;
  }
  @include media-breakpoint-up(xl) {
    min-width: calc(#{$sidebar-width} - 2rem);
  }

  &>h1 {
    line-height: 100%;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;

    &>a {
      color: $white;
    }
  }
}


// Nav
.top-nav {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;

  &>li {
    display: inline-block;
    vertical-align: middle;

    &>a {
      display: block;
      color: $white;
      border-radius: 2px;
      text-align: center;
      line-height: 100%;
      position: relative;
      @include transition(background-color 300ms);

      &:not(.header__nav__text) {
        padding: 0.5rem 0.15rem;
        min-width: 50px;

        &>.zmdi {
          font-size: 1.65rem;
          line-height: 100%;
        }
      }

      &.active,
      &:hover {
        background-color: rgba($white, 0.2);
      }
    }

    .dropdown-menu--block {
      padding: 0;
    }

    @include media-breakpoint-down(xs) {
      position: static;

      .dropdown-menu--block {
        left: 20px !important;
        width: calc(100% - 40px);
        top: $header-height - 10 !important;
      }
    }
  }
}

.top-nav__notifications {
  .listview {
    position: relative;

    &:before {
      @include font-icon('\f267', 2.5rem);
      @include transition(transform 300ms, opacity 300ms);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 90px;
      height: 90px;
      border: 2px solid #ececec;
      color: lighten($body-color, 10%);
      border-radius: 50%;
      transform: scale(0) rotate(-360deg);
      opacity: 0;
      text-align: center;
      line-height: 86px;
    }
  }

  .listview__scroll {
    height: 350px;
  }
}

.top-nav__notifications--cleared {
  .listview {
    &:before {
      transform: scale(1) rotate(0deg);
      opacity: 1;
    }
  }
}

.top-nav__notify {
  &:before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: lighten($red, 2%);
    color: $white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: 0;
    left: 0;
    margin: auto;
    @include animate(flash, 2000ms);
    animation-iteration-count: infinite;
  }
}


// App shortcuts
.app-shortcuts {
  margin: 0;
  padding: 1rem;
}

.app-shortcuts__item {
  text-align: center;
  padding: 1rem 0;
  border-radius: $border-radius;
  @include transition(background-color 300ms);

  &:hover {
    background-color: $gray-100;
  }

  &>i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: $white;
    line-height: 45px;
    font-size: 1.5rem;
  }

  &>small {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.95rem;

    &,
    &:hover,
    &:focus {
      color: $text-muted;
    }
  }
}


// Top Navigation
.top-menu {
  position: absolute;
  background-color: $white;
  left: 0;
  top: 100%;
  width: 100%;
  box-shadow: 0 3px 5px -2px rgba($black, 0.1);
  justify-content: center;
  white-space: nowrap;

  &>li {
    &.active {
      position: relative;
      box-shadow: 0 0 0 -2px red;
    }

    &>a {
      line-height: 100%;
      color: lighten($body-color, 15%);
      font-weight: $font-weight-bold;
      text-transform: uppercase;

      &.active {
        color: $headings-color;
      }
    }
  }
}

// Import Bootstrap and App variables and mixins
@import "../../../assets/scss/inner-imports";

@mixin sidebar-toggled() {
  background-color: $white;
  @include transition(transform 300ms, opacity 300ms);

  &:not(.toggled) {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  &.toggled {
    box-shadow: 5px 0 10px rgba($black, 0.08);
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.sidebar {
  width: $sidebar-width;
  position: fixed;
  left: 0;
  padding: ($header-height + $grid-gutter-width) 2rem 0.5rem 2rem;
  height: 100%;
  overflow: hidden;
  z-index: $sidebar-z-index;

  @include sidebar-toggled();
  // @include media-breakpoint-down(lg) {
  // }

  // Scrollbar position
  .scrollbar-inner > .scroll-element {
    margin-right: 0;
  }
}

// .sidebar--hidden {
//   @include sidebar-toggled();
// }


// User
.user {
  background-color: $navigation-link-hover-bg;
  border-radius: $border-radius;
  margin: 0 0 1.5rem 0;
  position: relative;

  .dropdown-menu {
    width: 100%;
  }
}

.user__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.8rem;
  border-radius: $border-radius;
  @include transition(background-color 300ms);

  &:hover {
    background-color: $navigation-link-hover-bg;
  }
}

.user__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.user__name {
  color: $headings-color;
  font-weight: $font-weight-bold;
}

.user__email {
  color: lighten($body-color, 15%);
}


// Site Navigation
.navigation {
  list-style: none;
  padding: 0;

  li {
    a {
      color: $navigation-link-color;
      @include transition(background-color 300ms, color 300ms);
      font-weight: $font-weight-bold;
      display: block;
    }

    &:not(.navigation__active):not(.navigation__sub--active) {
      a {
        &:hover {
          background-color: $navigation-link-hover-bg;
        }
      }
    }
  }

  & > div > li,
  & > li {
    & > a {
      padding: 0.85rem 0.5rem;
      position: relative;
      border-radius: $border-radius;

      & > i {
        vertical-align: top;
        font-size: 1.3rem;
        position: relative;
        top: 0.1rem;
        width: 1.5rem;
        text-align: center;
        margin-right: 0.6rem;
      }
    }
  }
}

.navigation__sub {
  & > ul {
    border-radius: $border-radius;
    list-style: none;
    overflow: hidden;
    padding: 0;

    & > li {
      & > a {
        padding: 0.6rem 1rem 0.6rem 2.75rem;
      }

      &:last-child {
        padding-bottom: 0.8rem;
      }
    }
  }

  .navigation__active {
    position: relative;

    &:before {
      @include font-icon('\f26d', 6px);
      position: absolute;
      left: 1rem;
      top: 1.1rem;
    }
  }
}

.navigation__sub--active > a,
.navigation__active > a,
.navigation__active:before {
  color: #ff5652 !important;
}