<header class="header">
  <app-navigation-trigger></app-navigation-trigger>

  <div class="header__logo">
    <h1><a [routerLink]="['']">SGO</a></h1>
    <span>Sistema de Gestão <br>
      de Orgãos
    </span>
  </div>

  <!-- <app-search #search class="toggled" [class.toggled]="search.searchActive"></app-search> -->

  <ul class="top-nav">
    <!-- <li class="d-xl-none"><a (click)="search.searchActive = true"><i class="zmdi zmdi-search"></i></a></li> -->

    <!-- <li dropdown>
      <a dropdownToggle><i class="zmdi zmdi-email"></i></a>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
        <div class="listview listview--hover">
          <div class="listview__header">
            Messages

            <div class="actions">
              <a href="messages.html" class="actions__item zmdi zmdi-plus"></a>
            </div>
          </div>

          <a *ngFor="let message of messagesData" href="" class="listview__item">
            <img [src]="message.image" class="listview__img" alt="">

            <div class="listview__content">
              <h3 class="listview__heading">
                {{ message.name }}
                <small>{{ message.date }}</small>
              </h3>
              <p>{{ message.message }}</p>
            </div>
          </a>

          <a href="" class="view-more">See All Messages</a>
        </div>
      </div>
    </li>

    <li dropdown>
      <a dropdownToggle class="top-nav__notify"><i class="zmdi zmdi-notifications"></i></a>

      <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
        <div class="listview listview--hover">
          <div class="listview__header">
            Notifications

            <div class="actions">
              <a href="" class="actions__item zmdi zmdi-check-all" data-ma-action="notifications-clear"></a>
            </div>
          </div>

          <a *ngFor="let message of messagesData" href="" class="listview__item">
            <img [src]="message.image" class="listview__img" alt="">

            <div class="listview__content">
              <h3 class="listview__heading">{{ message.name }}</h3>
              <p>{{ message.message }}</p>
            </div>
          </a>

          <a href="" class="view-more">See All Notifications</a>
        </div>
      </div>
    </li>

    <li dropdown class="d-none d-sm-inline-block">
      <a dropdownToggle><i class="zmdi zmdi-apps"></i></a>

      <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
        <div class="row app-shortcuts">
          <a class="col-4 app-shortcuts__item" href="">
            <i class="zmdi zmdi-calendar bg-red"></i>
            <small class="">Calendar</small>
          </a>
          <a class="col-4 app-shortcuts__item" href="">
            <i class="zmdi zmdi-file-text bg-blue"></i>
            <small class="">Files</small>
          </a>
          <a class="col-4 app-shortcuts__item" href="">
            <i class="zmdi zmdi-email bg-teal"></i>
            <small class="">Email</small>
          </a>
          <a class="col-4 app-shortcuts__item" href="">
            <i class="zmdi zmdi-trending-up bg-blue-grey"></i>
            <small class="">Reports</small>
          </a>
          <a class="col-4 app-shortcuts__item" href="">
            <i class="zmdi zmdi-view-headline bg-orange"></i>
            <small class="">News</small>
          </a>
          <a class="col-4 app-shortcuts__item" href="">
            <i class="zmdi zmdi-image bg-light-green"></i>
            <small class="">Gallery</small>
          </a>
        </div>
      </div>
    </li> -->

    <li dropdown class="d-none d-sm-inline-block">
      <a (click)="logout()"> <i class="zmdi zmdi-power"></i></a>

    </li>
  </ul>

</header>

<!-- Navigation section -->

<aside class="sidebar" [class.toggled]="sidebarVisible">
  <perfect-scrollbar>

    <div class="user" dropdown>
      <div class="user__info" dropdownToggle>
        <img class="user__img" src="../../../assets/demo/img/user-profile.svg" alt="">
        <div>
          <div class="user__name">{{userName}}</div>
          <div class="user__email">{{userEmail}}</div>
        </div>
      </div>

      <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item">Visualizar Perfil</a>
        <a class="dropdown-item" [routerLink]="['/alterar-senha']">Alterar Senha</a>
        <a class="dropdown-item" href="">Logout</a>
      </div>
    </div>

    <ul class="navigation">

      <div *ngFor="let item of itemsMenu">
        <li *ngIf="sharedService.getUserRole() === item.role || sharedService.getUserRole() === 'ADMIN'"
          routerLinkActive="navigation__active" (click)="closeMenu()">
          <a [routerLink]="['/', item.link]">
            <i [ngClass]="['zmdi', item.icon]"></i>
            {{item.label}}
          </a>
        </li>
      </div>

      <!-- <li routerLinkActive="navigation__sub--active" class="navigation__sub">
        <a (click)="toggleNavigationSub('Forms', $event)"><i class="zmdi zmdi-collection-text"></i> Forms</a>

        <ul [@toggleHeight]="navigationSubState.Forms">
          <li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-elements']">Form Elements</a></li>
          <li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-components']">Form Components</a></li>
          <li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-validation']">Form Validation</a></li>
        </ul>
      </li> -->
    </ul>
    <hr>
  </perfect-scrollbar>
</aside>