<app-header></app-header>
<app-loader *ngIf="!isLoaded"></app-loader>
<app-news-modal></app-news-modal>

<section class="content">
    <header class="content__title">
        <h1>Mapa</h1>
    </header>

    <div class="card">
        <div class="card-body">
            <div class="card-body-header">
                <h5>Procurar por uma igreja:</h5>
                <ng-select 
                    [items]="igrejas" 
                    bindLabel="bairro" 
                    autofocus 
                    bindValue="id"
                    [(ngModel)]="selectedChurch"
                    (change)="onChange($event)"
                    (clear)="onClear()"
                    placeholder="Procure uma igreja..."
                >
                </ng-select>
            </div>
            <div id="map"></div>
        </div>
    </div>

</section>