@import "./../../../assets/scss/variables";

header {
    .actions {
        align-items: baseline;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 60%;
        }
    }

}

.fc {
    .fc-day-header {
        background-color: #3F51B5;
        color: #fff;
    }

    .fc-day-number {
        float: left!important;
        font-weight: bold;
        margin-left: 8px;
    }

    td.fc-sun,
    td.fc-sat {
        background-color: #E8EAF6;
        color: $blue
    }

}
