<div class="modal fade" bsModal #createModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="createModal.hide()">&times;</button>
        <h4 class="modal-title">{{isEditing ? 'Edição' : 'Cadastro'}} de Status</h4>
      </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">


        <div class="modal-body">
          <input type="hidden" name="id" [(ngModel)]="status.id">

          <div class="form-group">
            <label>Nome Status</label>
            <input type="text" class="form-control" placeholder="Nome do Evento" [(ngModel)]="status.nome" name="nome"
              required>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="createModal.hide()">Cancelar</button>
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">Salvar</button>
        </div>

      </form>

    </div>
  </div>
</div>