.login {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100vh;

  .login-left {
    margin: 24px;

    .login-title {
      margin: 0 0 48px;
      text-align: center;
    }

    form {
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    }

    .input-group {
      border: transparent;
      box-shadow: 0 0 2px 0px #bfbfbf;
      height: 40px;
      padding: 4px;
    }
  }

  @media(min-width: 768px) {
    .login-left {
      margin: 24px;
      width: 25%;
      transform: translateX(50%);

      .login-title {
        margin: 0 0 48px;
        text-align: center;
      }

      form {
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
      }

      .input-group {
        border: transparent;
        box-shadow: 0 0 2px 0px #bfbfbf;
        height: 40px;
        padding: 4px;
      }
    }
  }



  .login-right {
    display: none;

    @media(min-width: 768px) {
      display: initial;
      height: 100%;
      width: 45%;
      background-image: url('../../../assets/demo/img/teclas.jpg');
      background-size: cover;
      background-position: top;
    }
  }
}