<app-header class="no-print"></app-header>
<app-ordem-servico-modal></app-ordem-servico-modal>
<app-delete-modal></app-delete-modal>
<app-ordem-servico-modal-view></app-ordem-servico-modal-view>
<app-loader *ngIf="!isLoaded"></app-loader>

<section class="content no-print">
  <header class="content__title">
    <h1>Ordem de Serviço</h1>
    <div class="actions" *ngIf="shared.getUserRole() === 'ADMIN'">
      <button class='btn btn-add' (click)="showModal()">
        <i class="actions__item zmdi zmdi-plus"></i>
        <span>Adicionar OS</span>
      </button>
    </div>
  </header>

  <div class="card">
    <div class="card-body">
      <div class="data-table__header">
        <div class="form-group data-table__filter">
          <input autocomplete="false" placeholder="Filtrar por todas colunas" [(ngModel)]="filter" class="form-control">
          <i class="form-group__bar"></i>
        </div>
      </div>
      <div class="table-responsive" *ngIf="isLoaded; else notLoaded">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>Ação</th>
              <th (click)="sort('order.numeroOS')" class="pointer">
                Número OS
                <i class="zmdi" *ngIf="key =='order.numeroOS'" [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
              </th>
              <th (click)="sort('ccbName')" class="pointer">
                Igreja
                <i class="zmdi" *ngIf="key =='ccbName'" [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
              </th>
              <th>Motivo</th>
              <th>Solução</th>
              <th (click)="sort('tecnico1')" class="pointer">
                Técnico 1
                <i class="zmdi" *ngIf="key =='tecnico1'" [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
              </th>
              <th (click)="sort('tecnico2')" class="pointer">
                Técnico 2
                <i class="zmdi" *ngIf="key =='tecnico2'" [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
              </th>
              <th (click)="sort('status')" class="pointer">
                Status
                <i class="zmdi" *ngIf="key =='status'" [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
              </th>
              <th (click)="sort('order.dataCadastro')" class="pointer">
                Data Cadastro
                <i class="zmdi" *ngIf="key =='cadastro'" [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
              </th>
              <th (click)="sort('order.dataAtendimento')" class="pointer">
                Data Atendimento
                <i class="zmdi" *ngIf="key =='atendimento'" [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
              </th>
              <th>Observações</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let order of orders | filter:filter | paginate: { itemsPerPage: 10, currentPage: page } | orderBy: key : reverse;">
              <td>
                <div dropdown>
                  <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <span class="dropdown-item" (click)="showModal(order)">Editar</span>
                    <span class="dropdown-item" (click)="viewModalOS(order)">Visualizar</span>
                    <span class="dropdown-item" (click)="delete(order)"
                      *ngIf="shared.getUserRole() === 'ADMIN'">Excluir</span>
                  </div>
                </div>
              </td>
              <td>{{order.numeroOS}}</td>
              <td>{{order.ccbName}}</td>
              <td class="td-overflow">{{order.motivo}}</td>
              <td class="td-overflow">{{order.solucao}}</td>
              <td>
                <span *ngIf="order.tecnico1Info; else elseTec1">
                  {{order.tecnico1Info.nome.split(' ')[0]}}
                  {{order.tecnico1Info.nome.split(' ')[order.tecnico1Info.nome.split(' ').length - 1][0]}}.
                </span>
                <ng-template #elseTec1>
                  Sem técnico.
                </ng-template>

              </td>
              <td>
                <span *ngIf="order.tecnico2Info; else elseTec2">
                  {{order.tecnico2Info.nome.split(' ')[0]}}
                  {{order.tecnico2Info.nome.split(' ')[order.tecnico2Info.nome.split(' ').length - 1][0]}}.
                </span>
                <ng-template #elseTec2>
                  Sem técnico.
                </ng-template>
              </td>
              <td>{{order.status}}</td>
              <td>{{order.dataCadastro | date: 'dd/MM/yyyy'}}</td>
              <td>{{order.dataAtendimento | date: 'dd/MM/yyyy'}}
                <span *ngIf="!order.dataAtendimento">Pendente</span>
              </td>
              <td class="td-overflow">{{order.observacoes}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próximo">
        </pagination-controls>
      </div>
      <ng-template #notLoaded>
        <p>Loading...</p>
      </ng-template>
    </div>
  </div>

</section>
