<app-header></app-header>
<app-ordem-servico-modal></app-ordem-servico-modal>
<app-delete-modal></app-delete-modal>
<app-ordem-servico-modal-view></app-ordem-servico-modal-view>
<app-loader *ngIf="!isLoaded"></app-loader>

<section class="content">
  <header class="content__title">
    <h1>Ordem de Serviço</h1>
    <div class="actions" *ngIf="shared.getUserRole() === 'ADMIN'">
      <button class='btn btn-add' (click)="showModal()">
        <i class="actions__item zmdi zmdi-plus"></i>
        <span>Adicionar OS</span>
      </button>
    </div>
  </header>

  <div class="card">
    <div class="card-body">
      <div class="data-table__header">
        <div class="form-group data-table__filter">
          <input placeholder="Filter all columns" class="form-control">
          <i class="form-group__bar"></i>
        </div>
      </div>
      <div class="table-responsive" *ngIf="isLoaded; else notLoaded">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>Número OS</th>
              <th>Igreja</th>
              <th>Motivo</th>
              <th>Solução</th>
              <th>Técnico 1</th>
              <th>Técnico 2</th>
              <th>Status</th>
              <th>Data Cadastro</th>
              <th>Data Atendimento</th>
              <th>Observações</th>
              <th class="text-right">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.numeroOS}}</td>
              <td>{{order.ccbinfo.bairro}}</td>
              <td class="td-overflow">{{order.motivo}}</td>
              <td class="td-overflow">{{order.solucao}}</td>
              <td>
                    {{order.tecnico1Info.nome.split(' ')[0]}} 
                    {{order.tecnico1Info.nome.split(' ')[order.tecnico1Info.nome.split(' ').length - 1][0]}}.
              </td>
              <td>
                    {{order.tecnico2Info.nome.split(' ')[0]}} 
                    {{order.tecnico2Info.nome.split(' ')[order.tecnico2Info.nome.split(' ').length - 1][0]}}.
            </td>
              <td>{{order.status}}</td>
              <td>{{order.dataCadastro | date: 'dd/MM/yyyy'}}</td>
              <td>{{order.dataAtendimento | date: 'dd/MM/yyyy'}}</td>
              <td class="td-overflow">{{order.observacoes}}</td>
              <td class="text-right">
                <div dropdown>
                  <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <span class="dropdown-item" (click)="showModal(order)">Editar</span>
                    <span class="dropdown-item" (click)="viewModalOS(order)">Visualizar</span>
                    <span class="dropdown-item" (click)="delete(order)" *ngIf="shared.getUserRole() === 'ADMIN'">Excluir</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #notLoaded>
        <p>Loading...</p>
      </ng-template>
    </div>
  </div>

</section>
