.td-overflow {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media print {

  .no-print,
  .no-print * {
    display: none !important;
  }
}

.badge {
  &.agendar {
    background-color: #257eca;
  }
  &.agendado {
    background-color: #25ac22;
  }
  &.urgente {
    background-color: #cb273b;
  }
  &.nao-solucionado {
    background-color: #9e39cd;
  }
  &.contatar {
    background-color: #cc862c;
  }
  &.concluido {
    background-color: #787878;
  }
}
