.form-group {
  display: inline-block;
  padding: 8px 16px;
  width: 50%;

  select {
    appearance: menulist;
  }

  &.w-100 {
    width: 100% !important;
  }

  .textarea {
    display: block;
    width: 100%;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    line-height: 1.154;
    color: #495057;
    background-color: transparent;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #eceff1;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}

.mb-24 {
  margin-bottom: 24px;
}

.danger {
  color: #852d2b!important;
}