<div class="modal fade" bsModal #createModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="createModal.hide()">&times;</button>
                <h4 class="modal-title">{{isEditing ? 'Edição' : 'Cadastro'}} de Ordem de Serviço</h4>
            </div>

            <form #f="ngForm" autocomplete="off" (ngSubmit)="onSubmit(f)">


                <div class="modal-body">
                    <!-- <small class="form-text text-muted mb-24">Todos os campos com * são obrigatórios!</small> -->
                    <input autocomplete="false"type="hidden" name="id" [(ngModel)]="ordemServico.id">
                    <input autocomplete="false"type="hidden" name="dataCadastro" [(ngModel)]="ordemServico.dataCadastro">
                    <input autocomplete="false"type="hidden" name="numeroOS" [(ngModel)]="ordemServico.numeroOS">

                    <div class="form-group w-100">
                        <label>Igreja</label>
                        <select class="form-control" [(ngModel)]="ordemServico.ccb" name="ccb" 
                            [disabled]="!(roleUser==='ADMIN')" #ccb="ngModel">
                            <option *ngFor="let church of churches" [ngValue]="church.id">
                                {{church.bairro}}
                            </option>
                        </select>
                        <small *ngIf="ccb?.invalid && (ccb?.dirty || ccb?.touched)" 
                                class="danger form-text text-muted">
                            <span *ngIf="ccb?.errors.required">
                                Campo "igreja" é obrigatório!
                            </span>
                        </small>
                    </div>

                    <div class="form-group w-100">
                        <label>Motivo</label>
                        <textarea class="textarea" placeholder="Motivo da Manutenção" 
                            [(ngModel)]="ordemServico.motivo" name="motivo" rows="3"
                            [disabled]="!(roleUser==='ADMIN')" #motivo="ngModel">
                        </textarea>
                        <small *ngIf="motivo?.invalid && (motivo?.dirty || motivo?.touched)" 
                                class="danger form-text text-muted">
                            <span *ngIf="motivo?.errors.required">
                                O campo "motivo" é obrigatório!
                            </span>
                        </small>
                    </div>

                    <div class="form-group w-100">
                        <label>Solução</label>
                        <textarea class="textarea" placeholder="Descreva a solução proposta"
                            [(ngModel)]="ordemServico.solucao" name="solucao" rows="3">
                        </textarea>
                        
                    </div>

                    <div class="form-group">
                        <label>Técnico 1</label>
                        <select class="form-control" [(ngModel)]="ordemServico.tecnico1" #tecnico1="ngModel" name="tecnico1"  [disabled]="!(roleUser==='ADMIN')">
                            <option *ngFor="let tecnico of tecnicos" [ngValue]="tecnico.id">
                            {{tecnico.nome}}
                            </option>
                        </select>
                        <small *ngIf="tecnico1?.invalid && (tecnico1.dirty || tecnico1.touched)" 
                                class="danger form-text text-muted">
                            <span *ngIf="tecnico1?.errors.required">
                                Campo "Técnico 1" é obrigatório!
                            </span>
                        </small>
                    </div>

                    <div class="form-group">
                        <label>Técnico 2</label>
                        <select class="form-control" #tecnico2="ngModel" [(ngModel)]="ordemServico.tecnico2" name="tecnico2"  [disabled]="!(roleUser==='ADMIN')">
                            <option *ngFor="let tecnico of tecnicos" [ngValue]="tecnico.id">
                            {{tecnico.nome}}
                            </option>
                        </select>
                        <small *ngIf="tecnico2.invalid && (tecnico2.dirty || tecnico2.touched)" 
                                class="danger form-text text-muted">
                            <span *ngIf="tecnico2?.errors.required">
                                Campo "Técnico 2" é obrigatório!
                            </span>
                        </small>
                    </div>

                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" [(ngModel)]="ordemServico.status" name="status" #status="ngModel">
                            <option *ngFor="let status of allStatus" [ngValue]="status.nome">
                                {{status.nome}}
                            </option>
                        </select>
                        <small *ngIf="status?.invalid && (status?.dirty || status?.touched)" 
                                class="danger form-text text-muted">
                            <span *ngIf="status?.errors.required">
                                Campo "Status" é obrigatório!
                            </span>
                        </small>
                    </div>

                    <div class="form-group">
                        <label>Data de Atendimento</label>
                        <input autocomplete="false"type="date" class="form-control" placeholder="Técnico"
                            [(ngModel)]="ordemServico.dataAtendimento" name="dataAtendimento"
                            [disabled]="!(roleUser==='ADMIN')">
                    </div>

                    <div class="form-group w-100">
                        <label>Observações</label>
                        <textarea class="textarea" placeholder="Observações" [(ngModel)]="ordemServico.observacoes" name="observacoes" rows="5">
                        </textarea>
                    </div>
                <!-- 
                   <div *ngIf="isEditing">
                        <div class="form-group">
                            <label>Hora entrada</label>
                            <input 
                                autocomplete="false" 
                                type="time" 
                                class="form-control" 
                                placeholder="Hora entrada"
                                [(ngModel)]="ordemServico.horaEntrada" 
                                name="horaEntrada"
                            >
                        </div>

                        <div class="form-group">
                            <label>Hora saída</label>
                            <input autocomplete="false" type="time" class="form-control" placeholder="Hora saída"
                                [(ngModel)]="ordemServico.horaSaida" name="horaSaida">
                        </div>

                        <div class="form-group">
                            <label>Quantidade de quilômetros aproximadamente (ida e volta)</label>
                            <input autocomplete="false" type="text" class="form-control" placeholder="Quantidade de quilômetros aproximadamente"
                                [(ngModel)]="ordemServico.quilometros" name="quilometros">
                        </div>

                        <div class="form-group">
                        <label>Valor combustível</label>
                        <input autocomplete="false" type="text" class="form-control"
                            placeholder="Preço do combustível usado" [(ngModel)]="ordemServico.valorGas"
                            name="valorGas">
                        </div>

                        <div class="form-group">
                        <label>Consumo médio carro (Km/L)</label>
                        <input autocomplete="false" type="number" class="form-control"
                            placeholder="Consumo do carro" [(ngModel)]="ordemServico.consumoMedio"
                            name="consumoMedio">
                        </div>

                        <p *ngIf="ordemServico.valorGas && ordemServico.consumoMedio && ordemServico.quilometros">
                            Valor aproximado gasto na OS: R${{((ordemServico.quilometros / ordemServico.consumoMedio) * ordemServico.valorGas).toFixed(3)}}
                        </p> 
                   </div>
                -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" (click)="createModal.hide()">Cancelar</button>
                    <button type="submit" class="btn btn-success" [disabled]="!f.valid">Salvar</button>
                </div>

            </form>

        </div>
    </div>
</div>