<div class="modal fade" bsModal #createModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="OS">
      <div class="modal-header">
        <button type="button" class="close no-print" (click)="createModal.hide()">&times;</button>
        <h4 class="modal-title">Ordem de Serviço nº <b>{{OS.numeroOS}}</b></h4>
      </div>

      <div class="modal-body order">

        <div class="order-date">
          <div class="date">
            <span class="b">Data Cadastro</span>
            <span>{{OS.dataCadastro | date: 'dd/MM/yyyy'}}</span>
          </div>
          <div class="date">
            <span class="b">Data Atendimento</span>
            <span>{{OS.dataAtendimento | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>

        <div class="order-church">
          <span class="church-title">{{OS.ccbinfo.bairro}}</span>
          <span class="church-address">
            {{OS.ccbinfo.rua}}, {{OS.ccbinfo.numero}} - {{OS.ccbinfo.bairro}}
          </span>
          <a *ngIf="OS.ccbinfo.lat && OS.ccbinfo.lng" href="{{gpsLink}}" target="_blank">
            Visualizar no Mapa
          </a>
          <p class="b mt-16">Encarregado Local de Manutenção</p>
          <span class="church-address">
            {{OS.ccbinfo.tecnico ? OS.ccbinfo.tecnico : 'Encarregado não cadastrado'}},
            {{OS.ccbinfo.numCel ? OS.ccbinfo.numCel : 'Celular não cadastrado'}}
          </span>
        </div>

        <div class="order-motive">
          <span class="b">Órgão</span>
          <span>
            Marca: {{OS.ccbinfo.marca ? OS.ccbinfo.marca : 'Não cadastrado' }}
          </span>
          <span>
            Modelo: {{OS.ccbinfo.modelo ? OS.ccbinfo.modelo : 'Não cadastrado'}}
          </span>
        </div>

        <div class="order-motive">
          <span class="b">Motivo</span>
          <span>
            {{OS.motivo}}
          </span>
        </div>

        <div class="order-motive">
          <span class="b">Solução</span>
          <span>
            {{OS.solucao}}
          </span>
        </div>

        <div class="order-date">
          <div class="date" *ngIf="OS.tecnico1Info">
            <span class="b">Técnico 1</span>
            <span>{{OS.tecnico1Info.nome}}</span>
            <span>{{OS.tecnico1Info.celular | mask: '(00) 0000-0000?0'}}</span>
          </div>
          <div class="date" *ngIf="OS.tecnico2Info">
            <span class="b">Técnico 2</span>
            <span>{{OS.tecnico2Info.nome}}</span>
            <span>{{OS.tecnico2Info.celular | mask: '(00) 0000-0000?0'}}</span>
          </div>
        </div>

        <div class="order-motive">
          <span class="b">Observações</span>
          <span>
            {{OS.observacoes}}
          </span>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn no-print" (click)="createModal.hide()">Cancelar</button>
          <button type="button" class="btn btn-success no-print" (click)="print()">Imprimir</button>
        </div>
      </div>

    </div>
  </div>