.form-group {
  display: inline-block;
  padding: 8px 16px;
  width: 50%;

  select {
    appearance: menulist;
  }

  &.w-100 {
    width: 100% !important;
  }

  .textarea {
    display: block;
    width: 100%;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    line-height: 1.154;
    color: #495057;
    background-color: transparent;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #eceff1;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}

p {
  font-weight: bold;
}

@media print {

  .no-print,
  .no-print * {
    display: none !important;
  }
}

.order {
  .order-title {
    border-bottom: 2px solid #c9c9c9;
  }

  .order-church {
      border: 1px solid #d0d0d0;
    display: flex;
    flex-flow: column wrap;
    margin: 16px 0;
    padding: 16px;

    .church-title {
      font-size: 1.3em;
      font-weight: bold;
    }
  }

  .order-date {
      border: 1px solid #d0d0d0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 16px 0;
    padding: 16px;

    .date {
      display: flex;
      flex-flow: column wrap;
    }
  }

  .order-motive {
      border: 1px solid #d0d0d0;
      margin: 16px 0;
      padding: 16px;

    span {
      display: flex;
      flex-flow: column wrap;
    }
  }
}

.b {
  font-weight: bold;
}

.mt-16 {
  margin: 16px 0 0;
}