.form-group {
  display: inline-block;
  padding: 8px 16px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  select {
    appearance: menulist;
  }

  &.w-100 {
    width: 100% !important;
  }
}

.btn-locale {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;

  .btn-success {
    margin: 16px 0;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
}

.section-separator {
  border-bottom: solid 1px #c9c9c9;
  margin: 0 16px 16px;
  padding: 0 0 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

.danger {
  color: #852d2b !important;
}