<div class="modal fade" bsModal #createModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="createModal.hide()">&times;</button>
        <h4 class="modal-title">{{isEditing ? 'Edição' : 'Cadastro'}} de órgão</h4>
      </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">


        <div class="modal-body">
          <input type="hidden" name="id" [(ngModel)]="orgao.id">

          <div class="form-group">
            <label>Marca</label>
            <input type="text" class="form-control" placeholder="Marca do orgao" [(ngModel)]="orgao.marca" name="marca"
              required>
          </div>

          <div class="form-group">
            <label>Modelo</label>
            <input type="text" class="form-control" placeholder="Modelo do orgao" [(ngModel)]="orgao.modelo" name="modelo"
              required>
          </div>

          <div class="form-group">
            <label>Número</label>
            <input type="number" class="form-control" placeholder="Número do orgao" [(ngModel)]="orgao.numero" name="numero"
              required>
          </div>

          <div class="form-group">
            <label>Número de Patrimônio</label>
            <input type="number" class="form-control" placeholder="Número de patrimônio" [(ngModel)]="orgao.numeroPatrimonio" name="numeroPatrimonio"
              required>
          </div>

          <div class="form-group">
            <label>Acessório</label>
            <input type="text" class="form-control" placeholder="Número de acessório" [(ngModel)]="orgao.acessorio" name="acessorio"
              required>
          </div>

          <div class="form-group">
            <label>Número de Série do Acessório</label>
            <input type="text" class="form-control" placeholder="Número de Série do Acessório" [(ngModel)]="orgao.numeroSerieAcessorio" name="numeroSerieAcessorio"
              required>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="createModal.hide()">Cancelar</button>
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">Salvar</button>
        </div>

      </form>

    </div>
  </div>
</div>