<app-header></app-header>
<app-igreja-modal></app-igreja-modal>
<app-delete-modal></app-delete-modal>
<app-loader *ngIf="!isLoaded"></app-loader>

<section class="content">
    <header class="content__title">
        <h1>Igrejas</h1>
        <div class="actions">
            <button class='btn btn-add' (click)="showModal()">
                <i class="actions__item zmdi zmdi-plus"></i>
                <span>Adicionar igreja</span>
            </button>
        </div>
    </header>

    <div class="card">
        <div class="card-body">
            <div class="data-table__header">
                <div class="form-group data-table__filter">
                    <input autocomplete="false" placeholder="Filtrar por todas as colunas" [(ngModel)]="filter"
                        class="form-control">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="table-responsive" *ngIf="isLoaded; else notLoaded">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Ação</th>
                            <th>Código CCB</th>
                            <th (click)="sort('bairro')" class="pointer">
                              Nome Igreja
                              <i class="zmdi" *ngIf="key =='bairro'"
                                [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                            <th>Endereço</th>
                            <!-- <th>CEP</th> -->
                            <th (click)="sort('cidade')" class="pointer">
                              Cidade
                              <i class="zmdi" *ngIf="key =='cidade'"
                                [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                            <!-- <th>UF</th> -->
                            <th (click)="sort('tecnico')" class="pointer">
                              Encarregado Manutenção
                              <i class="zmdi" *ngIf="key =='tecnico'"
                                [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                            <!-- <th>Número Celular</th> -->
                            <th (click)="sort('marca')" class="pointer">
                              Marca Órgão
                              <i class="zmdi" *ngIf="key =='marca'"
                                [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                            <th (click)="sort('modelo')" class="pointer">
                              Modelo Órgão
                              <i class="zmdi" *ngIf="key =='modelo'"
                                [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                            <!-- <th>Número Órgão</th> -->
                            <!-- <th>Patrimônio Órgão</th> -->
                            <!-- <th>Acessório Órgão</th> -->
                            <!-- <th>Nº Série Acessório Órgão</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let igreja of igrejas | orderBy: key : reverse : true | filter:filter | paginate: { itemsPerPage: 10, currentPage: page };">
                            <td>
                                <div dropdown>
                                    <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                        <span class="dropdown-item" (click)="showModal(igreja)">Editar</span>
                                        <span class="dropdown-item" (click)="delete(igreja)">Excluir</span>
                                    </div>
                                </div>
                            </td>
                            <td>{{igreja.codCCB}}</td>
                            <td>{{igreja.bairro}}</td>
                            <td>{{igreja.rua}}, {{igreja.numero}}</td>
                            <!-- <td>{{igreja.cep  | mask: '00000-000'}}</td> -->
                            <td>{{igreja.cidade}}</td>
                            <!-- <td>{{igreja.uf}}</td> -->
                            <td>{{igreja.tecnico ? igreja.tecnico : 'Pendente' }}</td>
                            <!-- <td>{{igreja.numCel | mask: '(00) 0000-0000?0'}}</td> -->
                            <td>{{igreja.marca ? igreja.marca : 'Pendente'}}</td>
                            <td>{{igreja.modelo ? igreja.modelo : 'Pendente'}}</td>
                            <!-- <td>{{igreja.numeroOrgao}}</td> -->
                            <!-- <td>{{igreja.numeroPatrimonio}}</td> -->
                            <!-- <td>{{igreja.acessorio ? igreja.acessorio : '-'}}</td> -->
                            <!-- <td>{{igreja.numeroSerieAcessorio ? igreja.numeroSerieAcessorio : '-' }}</td> -->

                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próximo">
                </pagination-controls>
            </div>
            <ng-template #notLoaded>
                <p>Loading...</p>
            </ng-template>
        </div>
    </div>

</section>