<div id="loader" class="visible">
  <div class="note">
    <div class="note1  note-child">&#9833;</div>
    <div class="note2  note-child">&#9835;</div>
    <div class="note3  note-child">&#9834;</div>
    <div class="note4  note-child">&#9836;</div>
    <div class="note5  note-child">&#9833;</div>
    <div class="note6  note-child">&#9835;</div>
    <div class="note7  note-child">&#9834;</div>
    <div class="note8  note-child">&#9836;</div>
    <div class="note9  note-child">&#9833;</div>
    <div class="note10 note-child">&#9835;</div>
    <div class="note11 note-child">&#9834;</div>
    <div class="note12 note-child">&#9836;</div>
  </div>
  <!-- <p>Loading...</p> -->
</div>