<app-header></app-header>
<app-modal-orgao></app-modal-orgao>
<app-delete-modal></app-delete-modal>

<section class="content">
  <header class="content__title">
    <h1>Órgãos</h1>
    <div class="actions">
      <button class='btn btn-add' (click)="showModal()">
        <i class="actions__item zmdi zmdi-plus"></i>
        <span>Adicionar órgão</span>
      </button>
    </div>
  </header>

  <div class="card">
    <div class="card-body">
      <div class="data-table__header">
        <div class="form-group data-table__filter">
          <input placeholder="Filter all columns" class="form-control">
          <i class="form-group__bar"></i>
        </div>
      </div>
      <div class="table-responsive" *ngIf="isLoaded; else notLoaded">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Número</th>
              <th>Patrimônio</th>
              <th>Acessório</th>
              <th>Nº Série Acessório</th>
              <th class="text-right">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orgao of orgaos">
              <td>{{orgao.marca}}</td>
              <td>{{orgao.modelo}}</td>
              <td>{{orgao.numero}}</td>
              <td>{{orgao.numeroPatrimonio}}</td>
              <td>{{orgao.acessorio}}</td>
              <td>{{orgao.numeroSerieAcessorio}}</td>
              <td class="text-right">
                <div dropdown>
                  <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <span class="dropdown-item" (click)="showModal(orgao)">Editar</span>
                    <span class="dropdown-item" (click)="delete(orgao)">Excluir</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #notLoaded>
        <p>Loading...</p>
      </ng-template>
    </div>
  </div>

</section>
